<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title data-th-text="${content.displayName}">Seed Savers</title>
    <link data-th-href="${context.url.createResourceUrl('css/layout-top-left-center-right.css')}"
          href="../public/css/layout-top-left-center-right.css" rel="stylesheet"/>
</head>

<body data-live-edit-type="page" data-th-class="${editable}? 'edit'">


<div id="mainRegion"
     data-live-edit-type="region">

    <div data-th-if="${mainRegion}" data-th-remove="tag">
        <div data-th-each="component : ${mainRegion.components}" data-th-remove="tag">
            <div data-wem-component="${component.path}" data-th-remove="tag"/>
        </div>
    </div>
</div>
From: <span data-th-text="${from}">from</span>
</body>
</html>