<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title data-th-text="${content.displayName}">Seed Savers</title>
</head>

<body data-live-edit-type="page" data-th-class="${editable}? 'edit'">

<ul>
    <li>content.name: <span data-th-text="${content.name}"></span></li>
    <li>content.displayName: <span data-th-text="${content.displayName}"></span></li>
    <li>content.type.localName: <span data-th-text="${content.type.localName}"></span></li>
</ul>

<div id="topRegion"
     data-live-edit-type="region">

    <div data-th-if="${topRegion}" data-th-remove="tag">
        <div data-th-each="component : ${topRegion.components}" data-th-remove="tag">
            <div data-wem-component="${component.path}" data-th-remove="tag"/>
        </div>
    </div>
</div>
<div id="mainRegion"
     data-live-edit-type="region">

        <div data-th-each="component : ${mainRegion.components}" data-th-remove="tag">
            <div data-wem-component="${component.path}" data-th-remove="tag"/>
        </div>

</div>

From: <span data-th-text="${from}">from</span>
</body>
</html>