<div data-th-attr="data-live-edit-type=${component.type}" class="layout-top-left-center-right">
    <div data-live-edit-type="region" class="top">
        <div data-th-each="component : ${topRegion.components}" data-th-remove="tag">
            <div data-wem-component="${component.path}" data-th-remove="tag"/>
        </div>
    </div>
    <div data-live-edit-type="region" class="left">
        <div data-th-each="component : ${leftRegion.components}" data-th-remove="tag">
            <div data-wem-component="${component.path}" data-th-remove="tag"/>
        </div>
    </div>
    <div data-live-edit-type="region" class="center">
        <div data-th-each="component : ${centerRegion.components}" data-th-remove="tag">
            <div data-wem-component="${component.path}" data-th-remove="tag"/>
        </div>
    </div>
    <div data-live-edit-type="region" class="right">
        <div data-th-each="component : ${rightRegion.components}" data-th-remove="tag">
            <div data-wem-component="${component.path}" data-th-remove="tag"/>
        </div>
    </div>
</div>
