<?xml version="1.0" encoding="UTF-8"?>
<module>
  <display-name>Features Module</display-name>
  <info>Module for testing features</info>
  <url>http://enonic.com/</url>
  <vendor>
    <name>Enonic AS</name>
    <url>http://www.enonic.com</url>
  </vendor>
  <dependencies system-min-version="5.0.0" system-max-version="6.0.0"/>
  <content>
    <meta-step mixin="system:menu-item"/>
  </content>
  <config>
  </config>
</module>
