<?xml version="1.0" encoding="UTF-8"?>
<module>
  <display-name>Seed Savers</display-name>
  <info>Seed Savers module</info>
  <url></url>
  <vendor>
    <name>Jørund Vier Skriubakken</name>
    <url>http://www.skriubakken.com</url>
  </vendor>
  <dependencies system-min-version="5.0.0" system-max-version="5.0.0"/>
  <content>
    <meta-step mixin="system:menu-item"/>
  </content>
  <config>
    <input type="SingleSelector" name="language">
      <label>Language</label>
      <immutable>false</immutable>
      <indexed>false</indexed>
      <custom-text/>
      <help-text/>
      <occurrences minimum="0" maximum="1"/>
      <config>
        <selector-type>DROPDOWN</selector-type>
        <options>
          <option>
            <label>Norsk</label>
            <value>no</value>
          </option>
          <option>
            <label>English</label>
            <value>en</value>
          </option>
        </options>
      </config>
    </input>
    <input type="TextLine" name="requiredTest">
      <label>Required test</label>
      <immutable>false</immutable>
      <indexed>true</indexed>
      <custom-text/>
      <help-text/>
      <occurrences minimum="2" maximum="4"/>
    </input>
  </config>
</module>
