.layout-top-left-center-right {

    margin: 0 auto;
    width: 100%;
    background: transparent;
    overflow: hidden;
}

.layout-top-left-center-right .top
{

}

.layout-top-left-center-right .center
{
    float: left;
    width: 60%;
}

.layout-top-left-center-right .left
{
    float: left;
    width: 20%;
}

.layout-top-left-center-right .right
{
    float: left;
    width: 20%;
}